set firewall ipv4 name WAN-to-LOCAL default-action 'drop'
set firewall ipv4 name WAN-to-LOCAL default-log
set firewall ipv4 name WAN-to-LOCAL rule 1 action 'accept'
set firewall ipv4 name WAN-to-LOCAL rule 1 description 'Allow established and related WAN to LOCAL'
set firewall ipv4 name WAN-to-LOCAL rule 1 state 'established'
set firewall ipv4 name WAN-to-LOCAL rule 1 state 'related'
set firewall ipv4 name WAN-to-LOCAL rule 10 action 'drop'
set firewall ipv4 name WAN-to-LOCAL rule 10 description 'Block ICMP from WAN'
set firewall ipv4 name WAN-to-LOCAL rule 10 protocol 'icmp'
set firewall ipv4 name WAN-to-DMZ default-action 'drop'
set firewall ipv4 name WAN-to-DMZ default-log
set firewall ipv4 name WAN-to-DMZ rule 1 action 'accept'
set firewall ipv4 name WAN-to-DMZ rule 1 description 'Allow established and related WAN to DMZ'
set firewall ipv4 name WAN-to-DMZ rule 1 state 'established'
set firewall ipv4 name WAN-to-DMZ rule 1 state 'related'
set firewall ipv4 name WAN-to-DMZ rule 10 action 'accept'
set firewall ipv4 name WAN-to-DMZ rule 10 description 'HTTP from WAN to nginx'
set firewall ipv4 name WAN-to-DMZ rule 10 destination address '172.16.50.3'
set firewall ipv4 name WAN-to-DMZ rule 10 destination port '80'
set firewall ipv4 name WAN-to-DMZ rule 10 protocol 'tcp'
set firewall ipv4 name WAN-to-DMZ rule 20 action 'accept'
set firewall ipv4 name WAN-to-DMZ rule 20 description 'HTTPS from WAN to nginx'
set firewall ipv4 name WAN-to-DMZ rule 20 destination address '172.16.50.3'
set firewall ipv4 name WAN-to-DMZ rule 20 destination port '443'
set firewall ipv4 name WAN-to-DMZ rule 20 protocol 'tcp'
set firewall ipv4 name WAN-to-DMZ rule 30 action 'accept'
set firewall ipv4 name WAN-to-DMZ rule 30 description 'SSH from WAN to jump'
set firewall ipv4 name WAN-to-DMZ rule 30 destination address '172.16.50.4'
set firewall ipv4 name WAN-to-DMZ rule 30 destination port '22'
set firewall ipv4 name WAN-to-DMZ rule 30 protocol 'tcp'
set firewall ipv4 name WAN-to-LAN default-action 'drop'
set firewall ipv4 name WAN-to-LAN default-log
set firewall ipv4 name WAN-to-LAN rule 1 action 'accept'
set firewall ipv4 name WAN-to-LAN rule 1 description 'Allow established and related WAN to LAN'
set firewall ipv4 name WAN-to-LAN rule 1 protocol 'all'
set firewall ipv4 name WAN-to-LAN rule 1 state 'established'
set firewall ipv4 name WAN-to-LAN rule 1 state 'related'
set firewall ipv4 name LAN-to-WAN default-action 'drop'
set firewall ipv4 name LAN-to-WAN default-log
set firewall ipv4 name LAN-to-WAN rule 1 action 'accept'
set firewall ipv4 name LAN-to-WAN rule 1 description 'Allow all LAN to WAN'
set firewall ipv4 name LAN-to-WAN rule 1 protocol 'all'
set firewall ipv4 name LAN-to-WAN rule 1 source address '172.16.150.0/24'
set firewall ipv4 name LAN-to-DMZ default-action 'drop'
set firewall ipv4 name LAN-to-DMZ default-log
set firewall ipv4 name LAN-to-DMZ rule 1 action 'accept'
set firewall ipv4 name LAN-to-DMZ rule 1 description 'Allow established and related LAN to DMZ'
set firewall ipv4 name LAN-to-DMZ rule 1 protocol 'all'
set firewall ipv4 name LAN-to-DMZ rule 1 state 'established'
set firewall ipv4 name LAN-to-DMZ rule 1 state 'related'
set firewall ipv4 name LAN-to-DMZ rule 10 action 'accept'
set firewall ipv4 name LAN-to-DMZ rule 10 description 'HTTPS from LAN to nginx'
set firewall ipv4 name LAN-to-DMZ rule 10 destination address '172.16.50.3'
set firewall ipv4 name LAN-to-DMZ rule 10 destination port '443'
set firewall ipv4 name LAN-to-DMZ rule 10 protocol 'tcp'
set firewall ipv4 name LAN-to-DMZ rule 20 action 'accept'
set firewall ipv4 name LAN-to-DMZ rule 20 description 'SSH from mgmt01 to DMZ'
set firewall ipv4 name LAN-to-DMZ rule 20 destination port '22'
set firewall ipv4 name LAN-to-DMZ rule 20 protocol 'tcp'
set firewall ipv4 name LAN-to-DMZ rule 20 source address '172.16.150.10'
set firewall ipv4 name DMZ-to-LAN default-action 'drop'
set firewall ipv4 name DMZ-to-LAN default-log
set firewall ipv4 name DMZ-to-LAN rule 1 action 'accept'
set firewall ipv4 name DMZ-to-LAN rule 1 description 'Allow established and related DMZ to LAN'
set firewall ipv4 name DMZ-to-LAN rule 1 protocol 'all'
set firewall ipv4 name DMZ-to-LAN rule 1 state 'established'
set firewall ipv4 name DMZ-to-LAN rule 1 state 'related'
set firewall ipv4 name DMZ-to-LAN rule 10 action 'accept'
set firewall ipv4 name DMZ-to-LAN rule 10 description 'Wazuh agent DMZ to Wazuh server'
set firewall ipv4 name DMZ-to-LAN rule 10 destination address '172.16.200.10'
set firewall ipv4 name DMZ-to-LAN rule 10 destination port '1514-1515'
set firewall ipv4 name DMZ-to-LAN rule 10 protocol 'tcp'
set firewall ipv4 name DMZ-to-WAN default-action 'drop'
set firewall ipv4 name DMZ-to-WAN default-log
set firewall ipv4 name DMZ-to-WAN rule 1 action 'accept'
set firewall ipv4 name DMZ-to-WAN rule 1 description 'Allow established and related DMZ to WAN'
set firewall ipv4 name DMZ-to-WAN rule 1 protocol 'all'
set firewall ipv4 name DMZ-to-WAN rule 1 state 'established'
set firewall ipv4 name DMZ-to-WAN rule 1 state 'related'
set firewall ipv4 name LOCAL-to-WAN default-action 'accept'
set firewall ipv4 name LOCAL-to-DMZ default-action 'accept'
set firewall ipv4 name LOCAL-to-LAN default-action 'accept'
set firewall zone WAN member interface 'eth0'
set firewall zone DMZ member interface 'eth1'
set firewall zone LAN member interface 'eth2'
set firewall zone LOCAL local-zone
set firewall zone LOCAL from WAN firewall name 'WAN-to-LOCAL'
set firewall zone WAN from DMZ firewall name 'DMZ-to-WAN'
set firewall zone WAN from LAN firewall name 'LAN-to-WAN'
set firewall zone WAN from LOCAL firewall name 'LOCAL-to-WAN'
set firewall zone DMZ from WAN firewall name 'WAN-to-DMZ'
set firewall zone DMZ from LAN firewall name 'LAN-to-DMZ'
set firewall zone DMZ from LOCAL firewall name 'LOCAL-to-DMZ'
set firewall zone LAN from WAN firewall name 'WAN-to-LAN'
set firewall zone LAN from DMZ firewall name 'DMZ-to-LAN'
set firewall zone LAN from LOCAL firewall name 'LOCAL-to-LAN'
