set firewall ipv4 name LAN-to-MGMT default-action 'drop'
set firewall ipv4 name LAN-to-MGMT default-log
set firewall ipv4 name LAN-to-MGMT rule 1 action 'accept'
set firewall ipv4 name LAN-to-MGMT rule 1 description 'Allow established and related LAN to MGMT'
set firewall ipv4 name LAN-to-MGMT rule 1 protocol 'all'
set firewall ipv4 name LAN-to-MGMT rule 1 state 'established'
set firewall ipv4 name LAN-to-MGMT rule 1 state 'related'
set firewall ipv4 name LAN-to-MGMT rule 10 action 'accept'
set firewall ipv4 name LAN-to-MGMT rule 10 description 'Wazuh agent traffic to Wazuh server'
set firewall ipv4 name LAN-to-MGMT rule 10 destination address '172.16.200.10'
set firewall ipv4 name LAN-to-MGMT rule 10 destination port '1514-1515'
set firewall ipv4 name LAN-to-MGMT rule 10 protocol 'tcp'
set firewall ipv4 name LAN-to-MGMT rule 20 action 'accept'
set firewall ipv4 name LAN-to-MGMT rule 20 description 'SSH from mgmt01 to MGMT hosts'
set firewall ipv4 name LAN-to-MGMT rule 20 destination port '22'
set firewall ipv4 name LAN-to-MGMT rule 20 protocol 'tcp'
set firewall ipv4 name LAN-to-MGMT rule 20 source address '172.16.150.10'
set firewall ipv4 name LAN-to-MGMT rule 30 action 'accept'
set firewall ipv4 name LAN-to-MGMT rule 30 description 'RDP to mgmt02'
set firewall ipv4 name LAN-to-MGMT rule 30 destination address '172.16.200.11'
set firewall ipv4 name LAN-to-MGMT rule 30 destination port '3389'
set firewall ipv4 name LAN-to-MGMT rule 30 protocol 'tcp'
set firewall ipv4 name LAN-to-MGMT rule 40 action 'accept'
set firewall ipv4 name LAN-to-MGMT rule 40 description 'HTTPS to Wazuh dashboard'
set firewall ipv4 name LAN-to-MGMT rule 40 destination address '172.16.200.10'
set firewall ipv4 name LAN-to-MGMT rule 40 destination port '443'
set firewall ipv4 name LAN-to-MGMT rule 40 protocol 'tcp'
set firewall ipv4 name MGMT-to-LAN default-action 'drop'
set firewall ipv4 name MGMT-to-LAN default-log
set firewall ipv4 name MGMT-to-LAN rule 1 action 'accept'
set firewall ipv4 name MGMT-to-LAN rule 1 description 'Allow established and related MGMT to LAN'
set firewall ipv4 name MGMT-to-LAN rule 1 protocol 'all'
set firewall ipv4 name MGMT-to-LAN rule 1 state 'established'
set firewall ipv4 name MGMT-to-LAN rule 1 state 'related'
set firewall ipv4 name LOCAL-to-LAN default-action 'accept'
set firewall ipv4 name LOCAL-to-LAN description 'Allow fw-mgmt to LAN'
set firewall ipv4 name LOCAL-to-MGMT default-action 'accept'
set firewall ipv4 name LOCAL-to-MGMT description 'Allow fw-mgmt to MGMT'
set firewall zone LAN member interface 'eth0'
set firewall zone MGMT member interface 'eth1'
set firewall zone LOCAL local-zone
set firewall zone LAN from MGMT firewall name 'MGMT-to-LAN'
set firewall zone MGMT from LAN firewall name 'LAN-to-MGMT'
set firewall zone LAN from LOCAL firewall name 'LOCAL-to-LAN'
set firewall zone MGMT from LOCAL firewall name 'LOCAL-to-MGMT'
